APP_DATA
log
precompiled firmwares
settings
ESP.Easy.Flasher.exe
esptool.exe
Flash Firmware WS2812.bat
.vscode
*.bin
build/arduino.mbed_rp2040.pico/PincabLedStrip.ino.elf
build/arduino.mbed_rp2040.pico/PincabLedStrip.ino.elf.uf2
build/arduino.mbed_rp2040.pico/PincabLedStrip.ino.hex
build/arduino.mbed_rp2040.pico/PincabLedStrip.ino.map
